body {
  margin: 0;
  padding: auto;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(26, 49, 95, 1)),
    color-stop(10%, rgba(26, 49, 95, 1)),
    color-stop(24%, rgba(29, 108, 141, 1)),
    color-stop(37%, rgba(41, 136, 151, 1)),
    color-stop(77%, rgba(39, 45, 100, 1)),
    color-stop(90%, rgba(26, 49, 95, 1)),
    color-stop(100%, rgba(26, 49, 95, 1))
  );
}
.navbar {
  background-color: #333 !important;

  box-shadow: 5px 4px 5px #000;
}
.nav-item {
  padding: 5px !important;
  text-align: center;
}
.carouselStyle {
  max-height: 600px;
}
.carousel-item {
  overflow: hidden !important;
  max-height: 600px !important;
}
.indicators {
  width: 10px !important;
  height: 10px !important;
  border: none !important;
  border-radius: 100px;
}
.container {
  max-width: 960px;
}

/*
 * encabezado de sitio translúcido personalizado
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.simple-banner {
  background: rgb(17, 42, 118);
  width: 100%;
  padding: 0.74em 1.5em;

  text-align: center;
  z-index: 99999;
  position: relative;
  display: block;
}
.icontec {
  color: rgb(108, 107, 107) !important;
}

.btn {
  font-size: x-large;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  text-transform: uppercase;
}
.bigicon {
  font-size: 35px;
  color: #fff !important;
}
.accordion-button {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  display: block;
}
.accordion-body {
  background: rgb(17, 42, 118);
  color: #fff;
}
.card-title {
  font-size: 45px;
  position: relative;
  font-style: italic;
}
.card-text {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: rgb(248, 249, 251);
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.descripcion {
  font-size: 20px;
  font-style: italic;
}
main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.asesor {
  text-align: center;
  background-color: #333;
}
.enlace__asesor {
  color: #fff;
  text-decoration: none;
}
